## Basic String methods

In [1]:
new_string = 'we are going to France'

In [2]:
#replace method  

new_string.replace('we','manish')

'manish are going to France'

In [3]:
#count method

new_string.count('e')

3

In [4]:
fruits = 'mangoes are sweet, oranges are sour, beetroot is bitter'

In [5]:
#separate method

fruits.split(',')

['mangoes are sweet', ' oranges are sour', ' beetroot is bitter']

## Tuples

In [6]:
#creating new tuple using ()

new_tup = ('hello',True,'Nishnt',34)

In [7]:
new_tup

('hello', True, 'Nishnt', 34)

In [8]:
new_tup[0:3]

('hello', True, 'Nishnt')

In [9]:
#tuples are immutable

new_tup[3]='new'

TypeError: 'tuple' object does not support item assignment

In [ ]:
#another tuple

tup1 =('lets','do','it')

In [ ]:
#operations on tuple

#concatinating two tuples

con_tup = new_tup + tup1
con_tup

In [ ]:
#gives  length of tuple / elements of tuple

len(con_tup)

In [ ]:
# trying to calculating average/mean of the tuple 

val_tup = len(con_tup + new_tup)
val_tup/4

In [ ]:
#tuple should have integer data types

min(val_tup)

In [ ]:
tup2 = (1,4,22,4,76,35,21,66)

In [ ]:
min(tup2),max(tup2)

In [ ]:
sum(tup2)/len(tup2)

## Lists

In [ ]:
#creating two new lists using []

list1 = [23,45,11,True,'smart']
list2 = [87,32,66,98,False,'nitrogen']

In [ ]:
list1,list2

In [ ]:
#adding an element to the list using append()

list1.append('why')
list1

In [ ]:
list1

In [ ]:
list2

In [ ]:
list2.append(tup1)

In [ ]:
list2

In [ ]:
#remove an item from list using pop()

list1.pop()

In [ ]:
list1

In [ ]:
#removing an element by specifying index value

list1.pop(6)

In [ ]:
list1

In [ ]:
#lists are mutable

list1[2]= 'ok'
list1

In [ ]:
ok_list = [23,43,76,11,55,87,99]

In [ ]:
#sorting a list

ok_list.sort()
ok_list

In [ ]:
#inserting new element on particular index

ok_list.insert(8,100)
ok_list

In [ ]:
ok_list

In [ ]:
#reversing elements in list

ok_list.reverse()

In [ ]:
ok_list

## Dictionary

In [ ]:
#creating new dictionary

new_dict = {'apple':100,
           'guava':200,
           'banana':50,
           'orange':150,
           'peach': 350}

In [ ]:
type(new_dict)

In [ ]:
#keys in dictionary

new_dict.keys()

In [ ]:
#values in dictionary

new_dict.values()

In [ ]:
#dictionaries are mutable

new_dict['garpes'] = 120
new_dict

In [ ]:
new_dict[2] = 'mango'
new_dict

In [ ]:
#poping an element out of dictionary
#it returns the value that pops out corresponding to the element of the list

new_dict.pop(2)

In [ ]:
new_dict

In [ ]:
#poping an item based index in dictionary

new_dict.pop('2')

In [ ]:
new_dict

In [ ]:
another_dict = {'watermelon':120,
               'muskmelon': 300,
               'kiwi': 500}

In [ ]:
another_dict

In [ ]:
#adds another dictionary to existing dictionary using update()

new_dict.update(another_dict)

In [ ]:
new_dict

## Sets

In [ ]:
#creating new set

set1 = {'hi','this',0.14,True,'98', 'is','new','set','this','lovely','98'}

In [ ]:
#duplicates are removed in sets

set1

In [ ]:
#adding single element

set1.add(67)

In [ ]:
set1

In [ ]:
#adding new elements in set

set1.update([87,'rock'])

In [ ]:
set1

In [ ]:
s1 = {3,5,2,8,10}
s2 = {1,4,7,5,9,10,0}
s3 = {2,4,7,10,11}

In [ ]:
#union() returns all the values in the sets 

s1.union(s2)

In [ ]:
#intersection() returns common values in the sets

s3.intersection(s1)

## Condition Statements

### While Statement

In [ ]:
i = 1
while i <= 10:
    print(i)
    i = i +1

In [ ]:
i = 1
n = 2
while i<= 10:
    print(n ,'*', i ,'=' ,i * n)
    i +=1

In [ ]:
i = 0
l1 = [10,20,30,40,50]
while i < len(l1):
    l1[i] = l1[i]+5
    i+=1

In [ ]:
l1

## for loop

In [ ]:
#nested for loop

l1 = ['blue','red','green']
l2 = ['mouse','keyboard','book','light']

In [ ]:
for i in l1:
    for j in l2:
        print(i,j)

In [ ]:
for i in l2:
    print(i)

## Object Oriented Programming

In [1]:
# creating a class

class Meeting:
    def members(self):
        print('Meeting has members')
    def time(self):
        print('Meeting has time')
    def venue(self):
        print('Meeting has a venue')

In [2]:
m1= Meeting()

In [3]:
m1.members()

Meeting has members

In [4]:
m1.venue()

Meeting has a venue

In [5]:
m1.time()

Meeting has time

In [6]:
class Phone:
    def set_color(self,color):
        self.color = color
    def set_cost(self,cost):
        self.cost = cost
    def make_call(self):
        print('make a call')
    def play_game(self):
        print('play games')
    def show_color(self):
        return self.color

In [7]:
p1 = Phone()

In [8]:
p1.set_color('blue')

In [9]:
p1.show_color()

'blue'

In [31]:
class Laptop:
    def set_color(self,color):
        self.color = color
    def set_price(self,price):
        self.price = price
    def show_color(self):
        return self.color
    def show_price(self):
        return self.price
    def work(self):
        print('laptop is used for work')
    def games(self):
        print('laptop is used for games as well')

In [17]:
l1 = Laptop()

In [21]:
l1.set_color('pink')

In [22]:
l1.show_color()

'pink'

In [48]:
l1.set_price('1000')

TypeError: 'str' object is not callable

In [49]:
l1.show_price()

AttributeError: 'Laptop' object has no attribute 'price'

In [50]:
l1.show_price

In [51]:
l1.work()

laptop is used for work

In [52]:
l1.games()

laptop is used for games as well

In [33]:
class Employee:
    def __init__(self,name,age,gender,salary):
        self.name = name
        self.age = age
        self.gender = gender
        self.salary = salary
    def show_details(self):
        print('employee name is:', self.name)
        print('employee age is:' ,self.age)
        print('employee gender is:', self.gender)
        print('employee salary is:', self.salary)

In [34]:
e1 = Employee('Manish',32,150000,'M')

In [35]:
e1.show_details()

employee name is: Manish
employee age is: 32
employee gender is: 150000
employee salary is: M

In [36]:
class More_Employee(Employee):
    def details(self):
        print('qualification is BTech')
        print('past experience is 6 years')

In [37]:
e2 = More_Employee('Gua',44,150000,'Female')

In [38]:
e2.details()

qualification is BTech
past experience is 6 years

In [39]:
e2.show_details()

employee name is: Gua
employee age is: 44
employee gender is: 150000
employee salary is: Female

In [40]:
class Speaker:
    def __init__(self,color,sound,high,low):
        self.color = color
        self.sound = sound
        self.high = high
        self.low = low
    def show_specs(self):
        print("speaker's coloe is ", self.color)show
        print("speaker's sound is ", self.sound)
        print("speaker's high is: ", self.high)
        print("speaker's low is:" , self.low)

In [43]:
s1 = Speaker('black','good',100,20)

In [44]:
s1.show_specs()

speaker's coloe is  black
speaker's sound is  good
speaker's high is:  100
speaker's low is: 20

## Inheritance

In [53]:
class Sound_System(Speaker):
    def features(self):
        print('this is a sound system')

In [55]:
s2 = Sound_System('blue','very good', 200, 20)

In [57]:
s2.show_specs()

speaker's coloe is  blue
speaker's sound is  very good
speaker's high is:  200
speaker's low is: 20

In [58]:
s2.features()

this is a sound system

### overriding __init__

In [62]:
class Sound_System1(Speaker):                                   #creating a child class
    def __init__(self,color,sound,high,low,price):               
        super().__init__(color,sound,high,low)
        self.price = price
    def Spec(self):
        print("speaker's coloe is ", self.color)
        print("speaker's sound is ", self.sound)
        print("speaker's high is: ", self.high)
        print("speaker's low is:" , self.low)
        print("speaker's price is:", self.price)

In [64]:
s2 = Sound_System1('pink','average',80,5,1500)

In [65]:
s2.Spec()

speaker's coloe is  pink
speaker's sound is  average
speaker's high is:  80
speaker's low is: 5
speaker's price is: 1500

In [66]:
s2.show_specs()

speaker's coloe is  pink
speaker's sound is  average
speaker's high is:  80
speaker's low is: 5

## Multiple Inheritance

In [113]:
class Parent1:
    def assign_string_one(self,str1):
        self.str1 = str1
    
    def show_string_one(self):
        return self.str1

In [133]:
class Parent2:
    def assign_string_two(self,str2):
        self.str2 = str2
   
    def show_string_two(self):
        return self.str2

In [144]:
class Child(Parent1, Parent2):
    def assign_string_three(self,str3):
        self.str3 = str3
    def show_string_three(self):
        return self.str3

In [145]:
c1 = Child()

In [146]:
c1.assign_string_one('hi')

c1.assign_string_three('people')

In [147]:
c1.show_string_three()

'people'

In [149]:
c1.assign_string_one('why')

In [150]:
c1.show_string_one()

'why'

In [151]:
c1.assign_string_two('qqq')

In [152]:
c1.show_string_two()

'qqq'

In [153]:
c1.show_string_three()

'people'

## Multi Level Inheritance

In [156]:
class Saif:
    def assign_name(self,name):
        self.name = name
    def show_name(self):
        return self.name

In [157]:
class Karina(Saif):
    def assign_place(self,place):
        self.place = place
    def show_place(self):
        return self.place

In [158]:
class Taimur(Karina):
    def assign_year(self,year):
        self.year = year
    def show_year(self):
        return self.year

In [159]:
t1 = Taimur()

In [160]:
t1.assign_place('delhi')

In [162]:
t1.show_place()

'delhi'

In [163]:
t1.assign_name('bablu')

In [164]:
t1.show_name()

'bablu'

In [165]:
t1.assign_year(1990)

In [166]:
t1.show_year()

1990